*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-size: 30px;
    overflow-x: hidden;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../Img/E.jpg");
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.clearfix:after{
    content: " ";
    visibility: visible;
    display: block;
    height: 9px;
    clear: both;
    margin-left: 40px;
}
.row{
    max-width: 1400px;
    margin:0 auto;
}

.main-nav{
    float: right;
    margin-top: 30px;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 100;
    padding: 5px 2px;
}
.main-nav li a:hover{
    color: #f66308;
    font-weight: 1000;
}

.table{
    margin-left:400px;
    margin-top: 40px;
}
.search{
    padding:10px;
    margin-left:300px;
    margin-top:30px;
    color: wheat;
	font-size: 70px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(18, 1, 1, 0.549);
    text-shadow: 1.31px 1.31px rgba(213, 212, 212, 0.734);
}
.name1{
    color:wheat;
	font-size: 55px;
	-webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgba(18, 1, 1, 0.549);
    text-shadow: 1.31px 1.31px red;
}
.submit{
    width: 115px;
    color:rgba(12, 9, 9, 0.889);
    padding: 0.6rem;
    margin-left:200px;
    border-width:10px;
}
.submit:hover{
    background-color: #f66308f2;
    color: black;
    font-weight: 700;
    font-size: 1rem;
}
.main-content-header{
    border-top: 2px solid white;
}
h2:hover{
    font-size: 4.4rem;
    color: #f66308;
}
.field1{
    color:black;
    height: 2rem;
    width: 20rem;
    padding:10px;
    margin-bottom: 2rem;
    background-color:wheat;
}
.table{
    padding-top: 20px;
    padding-left:30px;
}
.table input::placeholder{
    color:black;
}
.name2{
    text-align: center;
}